FDM/*.sln

FDM/.vs/
FDM/Debug/
FDM/Release/
FDM/x64/

FDM/ReadMining/Debug/
FDM/ReadMining/Release/
FDM/ReadMining/x64/


FDM/ReadMining/*.vcxproj
FDM/ReadMining/*.filters
FDM/ReadMining/*.user
FDM/ReadMining/result.txt

FDM/ReadMining/data.txt

FDM/ReadMining.sln